@model IEnumerable<BasketVM>

<div class="cart-btn">
    <a href="#">
        <i class="icon ion-bag"></i>
        <span class="text">Cart :</span>
        <span class="total">$@(Model.Sum(p=>p.Price)+ Model.Sum(p => p.ExTax))</span>
        <span class="count">@Model.Count()</span>
    </a>
</div>
<div class="mini-cart">
    <ul class="cart-items">
        @foreach (BasketVM item in Model)
        {
        <li>
            <div class="single-cart-item d-flex">
                <div class="cart-item-thumb">
                    <a href="single-product.html"><img src="~/assets/images/product/@item.Image" alt="product"></a>
                    <span class="product-quantity">@(item.Count)x</span>
                </div>
                <div class="cart-item-content media-body">
                    <h5 class="product-name"><a href="single-product.html">@item.Title</a></h5>
                    <span class="product-price">€@item.Price</span>
                    @*<span class="product-color"><strong>Color:</strong> White</span>*@
                    <a id="closeIconforCartProduct" asp-controller="basket" asp-action="DeleteFromBasket" asp-route-id="@item.Id" class="product-close"><i class="fal fa-times"></i></a>
                </div>
            </div>
        </li>

        }

    </ul>
    <div class="price_content">
        <div class="cart-subtotals">
            <div class="products price_inline">
                <span class="label">Subtotal</span>
                <span class="value">€@Model.Sum(p=>p.Price)</span>
            </div>
            @*<div class="shipping price_inline">
                <span class="label">Shipping</span>
                <span class="value">€7.00</span>
            </div>*@
            <div class="tax price_inline">
                <span class="label">Taxes</span>
                <span class="value">€@Model.Sum(b=>b.ExTax)</span>
            </div>
        </div>
        <div class="cart-total price_inline">
            <span class="label">Total</span>
            <span class="value">€@(Model.Sum(b => b.ExTax)+ Model.Sum(b => b.Price))</span>
        </div>
    </div> <!-- price content -->
    <div class="checkout text-center">
        <a href="checkout.html" class="main-btn">Checkout</a>
    </div>
</div> <!-- mini cart -->