@model IEnumerable<ProductListVM>

@foreach (ProductListVM item in Model)
{
<li>
    <img src="~/assets/images/@item.Image" alt="Alternate Text" />
    <a asp-controller="Shop" asp-action="detail" asp-route-id="@item.Id">content</a>
</li>

}