@model IEnumerable<ProductListVM>

@foreach (var item in Model)
{
<li>
    <img style="width: 40%" src="~/assets/images/product/@item.Image" alt="Alternate Text" />
    <a asp-controller="Shop" asp-route-id="@item.Id">content</a>
</li>

}